.login {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url('~@assets/login-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;

    .login-container {
        position: absolute;
        width: 350px;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);

        .admin-info {
            text-align: center;
            margin: 20px auto;
            font-size: 24px;
            color: #fff;
        }

        .login-form {
            margin: 0 auto;
        }
    }
}