// 默认主题色
:root {
    --primary-color: #1890ff;
    --nav-color: #001529;

    --success-color: rgb(135, 208, 104);
    --info-color: rgb(45, 183, 245);
    --danger-color: rgb(255, 85, 0);
    --warning-color: #fa8c16;
}